[submodule "molecules--web"]
	path = molecules--web
	url = git@github.com:Unker/molecules--web.git
[submodule "molecules--server"]
	path = molecules--server
	url = git@github.com:Unker/molecules--server.git
