[submodule "molecules--web"]
	path = molecules--web
	url = https://github.com/Unker/molecules--web.git
[submodule "molecules--server"]
	path = molecules--server
	url = https://github.com/Unker/molecules--server.git
